html, body {
  height: 100%;
  padding:0px;
  margin:0px;
}

#center {
  width:100%;
}

#court {
  padding:0px;
  margin-left:auto;
  margin-right:auto;
  margin-top:2.5%;
  background-color:transparent;
  position:relative;
  width:95%;
  //max-width:960px;
  max-width:50em;
  height:auto%;
  outline:1px solid green;
  text-align: center;
}

#xgif {
  width:100%;
}

#p1 { 
  background-color:grey;
  position:absolute;
  left:40;
  top:240;
  height:40;
  width:20;
  visibility:hidden;
}

#p2 {
  background-color:grey;
  position:absolute;
  left:580;
  top:240;
  height:40;
  width:20;
  visibility:hidden;
}

#ball {
  width:20;
  height:20;
  background-color:grey;
  position:absolute;
  left:300;
  top:300;
  visibility:hidden;
}

#.score1 { position:absolute;
  top:10;
  left:30;
  width:50%;
  height:100%;
}

#.score2 { position:absolute;
  top:10;
  left:570;
  width:40px;
  height:80px;
}

#score1 { position:absolute;
  top:5%;
  left:5%;
  width:11.25%;
  height:15%;
}

#score2 { position:absolute;
  top:5%;
  right:0%;
  width:11.25%;
  height:15%;
}

#alert {
  position:absolute;
  left:0;
  top:240;
  width:640;
  font-size:48px;
  color:red;
  text-align:center
}

#welcome {
  position:absolute;
  top:30%;
  width:95%;
  font-size:36px;
  color:red;
  text-align:center;
  border:2px solid red;
  z-index:1;
  margin-left:2.5%;
}

#board {
  font-size: 1.5em;
}

.s {position:absolute;
  width:12.5%;
  height:12.5%;
  background-color:black;}

#s1 {left:0;   top:0;   width:50%;}
#s2 {left:0; top:0; height:50%;}
#s3 {left:38.75%; top:0; height:50%;}
#s4 {left:0; top:38.75%; width:50%;}
#s5 {left:0; top:37.5%; height:61.25%;}
#s6 {left:38.75%; top:37.5%; height:61.25%;}
#s7 {left:0; top:87.5%; width:50%;}